@model IEnumerable<Inventory_Management_System.Entities.Warehouse>

@{
    ViewData["Title"] = "Warehouses";
}

<h1 class="h3 mb-3">Warehouses</h1>

<div class="row">
    @foreach (var warehouse in Model)
    {
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@warehouse.WarehouseName</h5>
                    <p class="card-text text-muted">Address: @warehouse.Address</p>
                    <p class="text-info">Manager ID: @warehouse.ManagerID</p>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@warehouse.WarehouseID">Details</a>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@warehouse.WarehouseID">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@warehouse.WarehouseID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
